body {
	background-position:top;
	background-color:#666;
	margin-top:0px;
}
tr {
	font-family:"微軟正黑體", Arial;
	font-size:14px;
}
a { outline:none; }
.run {
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/header_msg-bk.gif);
	background-repeat:repeat-x;
	height:29px;
}
.run a:link {
	text-decoration:none;
	color:#FFF;
}
.run a:visited {
	text-decoration:none;
	color:#FFF;
}
.run a:hover {
	text-decoration:underline;
	color:#FC0;
}
.za_text {
	background-color:#FFF;
	border:1px solid #666;
	color:#000;
	width:100px;
	padding-top:2px;
	padding-left:3px;
	padding-bottom:3px;
	float:left;
}
.za_text_1 {
	background-color:#FFF;
	border:1px solid #666;
	color:#000;
	width:50px;
	padding-top:2px;
	padding-left:3px;
	padding-bottom:3px;
}
.za_text_2 {
	background-color:#FFF;
	border:1px solid #666;
	color:#000;
	padding-top:2px;
	padding-left:3px;
	padding-bottom:3px;
}
.za_area { font-size:13px;line-height:20px;color:#FFF;background-color:#000;border:1px solid #000;padding-right:5px; }
.foot { color:#999;background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/foot_bk.jpg);background-repeat:repeat-x;text-align:center;height:40px;background-color:#181818; }
.login_bk {
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/login_ph02.png);
	background-repeat:repeat-y;
	text-align:center;
	padding-top:5px;
	padding-bottom:2px;
}
.login_tis { padding-left:10px; }
.quota_div { z-index:220;position:absolute;display:none;text-align:left; }

.menu_bk { background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/header_menu-bk.jpg);background-repeat:repeat-x;background-color:#000; }

.quota_wallet {background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/pic_wallet.jpg);height: 55px;width: 196px;font-size: 22px;font-weight: bold;color: #FC0;text-align: right;padding-top: 24px;padding-right: 20px;}
.quota_cashbk {font-family: Arial,;font-size: 18px;font-weight: bold;background-image: url(http://static.plm168.com/images/cashmove_bk.jpg);background-repeat: no-repeat;text-align: center;height: 60px;padding-top: 5px}
.cs_bk {background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/index_cs-bk.jpg);background-repeat:no-repeat;height:50px;line-height:20px;color:#FFF;padding-top:3px;padding-left:12px;}

.notice_text {
	color:#333;
	height:20px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/notice_line.png);
}
.notice_title {
	font-size: 13px;
	color: #FFF;
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/zh-tw/index_notice.jpg);
	background-repeat: no-repeat;
	height: 52px;
	width: 739px;
	text-align: right;
}
.notice_bk {
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/notice_bk.jpg);
	background-repeat: repeat-y;
}
.rank_number { font-family:Arial;color:#ffae1e;float:right;font-size:15px;font-weight:bold; }
.main_title_subject {
	font-size:18px;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/main_title_subject_bk.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-family: "微軟正黑體", Arial;
	font-weight:bold;
}
.main_tis { padding-top:8px;padding-bottom:15px;padding-left:15px;line-height:20px; }
.main_line { 
	border:1px solid #666;
	}
.main_table_line {
	border:2px solid #65619a;
	float:left; 
	margin:0px 0px 30px 10px; 
	width:738px; 
	text-align:center;
}
.main_table_tit {
	font-size:15px;
	color:#FFF;
	background-color:#FFF;
	text-align:center;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/main_tit.jpg);
	background-repeat:repeat-x;
	float:left;
	margin:1px 1px;
	width:734px;
	height:20px;
}
.main_table_tit_1 {
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/main_tit_1.jpg);
	background-repeat:repeat-x;
	font-size:15px;
	background-color: #eaeaea;
}
.main_table_tit_2{
	font-size:15px;
	color:#FFF;
	background-color:#333;
	text-align:center;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/main_tit_2.jpg);
	background-repeat:repeat-x;
}
.main_table_cen { background-color:#FFF;text-align:center; }
.game_table_title { font-size:15px;color:#FFF;background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/page_tit-bk1.jpg);background-repeat:no-repeat;height:37px; }

.game_float_left { float:left;padding-top:9px;padding-left:15px;height:28px; }
.game_float_right { float:right;margin-right:10px; }

.game_table_status { font-size:16px;font-weight:bold;color:#FF0;padding-top:9px;height:28px; }

.game_table_main { background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/page_tit-bk2.jpg);background-repeat:no-repeat;text-align:center;height:146px; }


.game_table_countdown { font-family:Arial;font-size:22px;font-weight:bold;color:#FFF;background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/page_tit-countdown.jpg);background-repeat:no-repeat;text-align:center;width:36px;height:30spx;padding-top:7px; }
.movie_bk { background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/movie_bk.jpg); background-repeat: no-repeat; text-align: center; width: 236px; padding-top: 3px; padding-bottom: 3px; }
.mem_amount { font-size:20px;font-weight:bold;color:#C9F;background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/input_amount.jpg);background-repeat:no-repeat;width:162px;text-align:center;padding-top:2px; }
.msg_text {
	font-size:15px;
	line-height:20px;
	text-align: center;
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/message_ph02.png?v=901);
	background-repeat: no-repeat;
	height: 117px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	color:#ffdeb6;
	padding-left: 30px;
	background-color:#000;
}
.msg_btn {
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/btn_msg-bk.jpg);
	background-repeat: no-repeat;
	width: 340px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 3px;
	border: 1px solid #4f005f;
	margin-bottom: 5px;
}
.text-1 {
	font-weight:bold;
	color:#C00;
}
.text-2 { color:#FC0; }
.text-3 { font-size:15px;font-weight:bold;color:#C00; }
.text-4 { color:#C00; }
.text-5 {
	font-weight:bold;
	font-size:15px;
	color:#F60;
}
.text-6 {
	color:#FC0;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	font-family: Arial, "新細明體";
}
.text-7 { color:#06C; }
.text-8 {
	font-family: Arial,;
	font-size: 15px;
	color: #FFF;
	text-align: center;
}
.text-color { color:#FFF; }
.star { font-family:verdana,Helvetica,sans-serif;color:#900;font-size:12px;vertical-align:-2px;font-weight:bold; }

.rule_tit_bk {
	font-size:15px;
	text-decoration:none;
	color:#FFF;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/rule_tit_over.jpg);
	background-repeat:repeat-x;
	height:23px;
	padding-top:2px;
	padding-right: 8px;
	padding-left: 8px;
}
.rule_tit_up {
	font-size:15px;
	color:#000;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/rule_tit_up.jpg);
	background-repeat:repeat-x;
	height:23px;
	padding-top:2px;
	padding-right: 8px;
	padding-left: 8px;
}
.rule_tit_bk a:link { color:#FFF; }
.rule_tit_bk a:visited { color:#FFF; }
.rule_tit_bk a:hover { color:#FFF;text-decoration:underline; }

.rule_title_up {
	font-size:15px;
	color:#000;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/rule_tit_up.jpg);
	background-repeat:no-repeat;
	height:23px;
	text-align:center;
	padding-top:2px;
	background-position:right;
	padding-right:10px;
	padding-left:7px;
}
.rule_title {
	font-size:15px;
	text-decoration:none;
	color:#FFF;
	background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/rule_tit_over.jpg);
	background-repeat:no-repeat;
	text-align:center;
	height:23px;
	padding-top:2px;
	background-position:right;
	padding-right:10px;
	padding-left:7px;
}
.rule_title a:link { color:#FFF; }
.rule_title a:visited { color:#FFF; }
.rule_title a:hover { color:#FFF;text-decoration:underline; }
.select_tab {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/select_tab_04.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 82px;
	padding-left: 38px;
}
.sale_tis {
	line-height: 22px;
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/sale_ph13.jpg);
	background-repeat: repeat-y;
	padding-right: 10px;
	font-weight: bold;
	font-size: 15px;
}
.sale_bk {
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/main_bk.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 5px;
}
.sale_tis a:link {
	text-decoration: none;
	color: #000;
}

.sale_tis a:visited {
	text-decoration: none;
	color: #000;
}

.sale_tis a:hover {
	text-decoration: underline;
	color: #C00;
}
.sale_text a:link {
	text-decoration: none;
	color: #000;
}

.sale_text a:visited {
	text-decoration: none;
	color: #000;
}

.sale_text a:hover {
	text-decoration: underline;
	color: #C00;
}

.cover { position:absolute;
		display:none;
		width:100%;
		height:100%;
		background-image:url(http://www.wuhav.cn/direct/sites/kxm1688/images/message_ph01-bg.png);
		z-index:9999;
		text-align: center;
		}
		
		
.uncover { position:relative;z-index:210; }
.menu_link {
	background-image: url(http://www.wuhav.cn/direct/sites/kxm1688/images/elect_bk.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 10px;
	padding-bottom: 20px;
}
